/* ========== IMPORTS ========== */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== GERAL SITE ========== */


* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: "Bebas Neue", sans-serif;
    --fonte2: "Elms Sans", sans-serif;
    --fonte3: "DM Mono", monospace;

    --cor1: #332424;
    --cor2: #3B2929;
    --cor3: #6E3737;
    --cor4: #332E2E;
    --cor5: #A13030;
    --cor6: #fde9e9;
}

h1 {
    font-size: 50px;
    font-family: var(--fonte1);
    font-weight: 900;
}

h2 {
    font-family: var(--fonte2);
    font-size: 23px;
}

p {
    text-align: justify;
    font-family: var(--fonte2);
}

hr {
    margin: 30px 0px;
    color: var(--cor2);
}

body {
    background-color: var(--cor4);
}

section {
    max-width: 1200px;
    justify-self: center;
}
/* ========== HEADER ========== */

header {
    height: 55px;
    background-color: var(--cor2);
    border-bottom: solid 1px #6E3737;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;             
    gap: 20px;     
    align-self: center;
}

header a {
    font-family: var(--fonte3);
    text-decoration: none;
    color: var(--cor5);
    display: flex;
    justify-content: center;
    align-items: center;
}

a#headerMeusProjetos {
    color: var(--cor2);
    background-color: var(--cor3);
    height: 55px;
}


/* ~~~~~~~~~ [HEADER CONTEÚDO] ~~~~~~~~~ */



h1#quemSouEu-titulo {
    font-size: 25px;
    font-family: var(--fonte2);
    color: var(--cor8);
}

/* ========== SECTION 1 - APRESENTACAO ========== */


.sectionApresentacao {
    color: var(--cor7);
    margin: 20px;
    padding: 3%;
    height: 590px;
}

.sectionApresentacao p {
    padding: 10px 0px 10px 0px;
}

/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#quemSouEu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 20px; 
}

.quemSouEu-texto {
    place-self: center;
    color: var(--cor5);
}

.quemSouEu-texto h1 {
    font-size: 100px;
    line-height: 80px;
}

.quemSouEu-texto h2 {
    margin-top: -30px;
    font-size: 30px;
    line-height: 80px;
    letter-spacing: 4px;
    font-weight: 200;
}

img#foto_perfil {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

div#quemSouEu-softskills {
    height: 50px;
    grid-column: 1 / -1;
    border: solid 1px #6E3737;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0px 20px;
}

ul {
    list-style: none; /* Remove a bolinha padrão */
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: auto;
    padding: 0px 0px;
    gap: 20px; 
    font-family: var(--fonte2);
    color: rgb(195, 176, 176);

}

li {
  display: flex;
  align-items: center; 
  margin-bottom: 0px; 
}

li::before {
  content: "";
  display: inline-block;
  width: 20px;  
  height: 20px; 
  background-image: url('icones/sectionApresentacao/estrela.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  margin-right: 12px; 
}



/* ========== SECTION 2 - HABILIDADES ========== */

.sectionHabilidades {
    background-color: var(--cor5);
    border: none;
    margin: 30px auto;
    padding: 3% 8%;
}

article#minhasHabilidades-geral h2 {
    font-size: 30px;
    padding-bottom: 15px;
    color: var(--cor6);
    text-align: center;
    font-family: var(--fonte1);
}

/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#minhasHabilidades-geral {
    display: block;
}
#minhasHabilidades-geral h2 {
    padding-bottom: 15px;
    color: var(--cor1);
    text-align: center;
}

article#minhasHabilidades-geral #cardsHabilidade-geralG {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 35px;
}

.skill-card {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 75px;
    padding: 40px 20px;
    width: 570px;
    height: 250px;
    color: var(--cor6);
    border: 2px solid var(--cor6);
    
}

.skill-card > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

article#minhasHabilidades-geral .habilidades {
    height: 80px;
    width: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div#cardsFerramentas {
    background-color: var(--cor6);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin: 30px 0px 0px 0px;
    gap: 30px;
}

article#minhasHabilidades-geral .ferramentas {
    height: 35px;
    width: 35px;
    display: flex;
    justify-self: space-between ;
    margin-left: auto;
    margin-right: auto;
}

/* ========== SECTION 3 - SOBRE MIM ========== */

.sectionSobreMim {
    color: var(--cor7);
    width: 100%;
    height: 590px;
    padding: 1.3% 8%;

}

article#sobreMim-geral h2 {
    font-size: 30px;
    padding-bottom: 15px;
    color: var(--cor6);
    text-align: center;
    font-family: var(--fonte1);
}

/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#sobreMim-geral {
    display: block;
}

p#sobreMim-texto {
    color: var(--cor6);
    font-family: var(--fonte2);
    letter-spacing: 0.15em;
    text-align: justify;
    margin: 20px 0px;
    font-weight: 100;
}

p#sobreMim-texto strong {
    font-weight: 650;
}

div#minhaFormacaoAcademica {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: 2;
}

div#UCB-logo {
    justify-self: center;
    align-self: center;
}
.UCB-image {
    width: 400px;
}

div#semestreUCB {
    justify-self: center;
    align-self: center;
    background-color: var(--cor5);
    width: 400px;


}







/* RODAPÉ */

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 10px 0px;
    margin-top: 20px;
}

footer p {
    text-align: center;
}
