/* ========== IMPORTS ========== */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== GERAL SITE ========== */


* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: "Bebas Neue", sans-serif;
    --fonte2: "Elms Sans", sans-serif;
    --fonte3: "DM Mono", monospace;

    --cor1: #332424;
    --cor2: #3B2929;
    --cor3: #6E3737;
    --cor4: #332E2E;
    --cor5: #A13030;
}

h1 {
    font-size: 50px;
    font-family: var(--fonte1);
    font-weight: 900;
}

h2 {
    font-family: var(--fonte2);
    font-size: 23px;
}

p {
    text-align: justify;
    font-family: var(--fonte2);
}

hr {
    margin: 30px 0px;
    color: var(--cor2);
}

body {
    background-color: var(--cor4);
}

section {
    max-width: 1200px;
    justify-self: center;
}
/* ========== HEADER ========== */

header {
    height: 55px;
    background-color: var(--cor2);
    border-bottom: solid 1px #6E3737;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;             
    gap: 20px;     
    align-self: center;
}

header a {
    font-family: var(--fonte3);
    text-decoration: none;
    color: var(--cor5);
    display: flex;
    justify-content: center;
    align-items: center;
}

a#headerMeusProjetos {
    color: var(--cor2);
    background-color: var(--cor3);
    height: 55px;
}


/* ~~~~~~~~~ [HEADER CONTEÚDO] ~~~~~~~~~ */



h1#quemSouEu-titulo {
    font-size: 25px;
    font-family: var(--fonte2);
    color: var(--cor8);
}

/* ========== SECTION 1 - APRESENTACAO ========== */


.sectionApresentacao {
    color: var(--cor7);
    margin: 20px;
    padding: 3%;
}

.sectionApresentacao p {
    padding: 10px 0px 10px 0px;
}

/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#quemSouEu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 20px; 
}

.quemSouEu-texto {
    place-self: center;
    color: var(--cor5);
}

.quemSouEu-texto h1 {
font-size: 100px;
line-height: 80px;
}

.quemSouEu-texto h2 {
    margin-top: -30px;
font-size: 30px;
line-height: 80px;
letter-spacing: 4px;
font-weight: 200;
}

img#foto_perfil {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: auto;
padding: 10px 0px;
    gap: 20px; 
}

div#quemSouEu-softskills {
    height: 50px;
    grid-column: 1 / -1;
    border: solid 1px #6E3737;
}

/* ========== SECTION 2 - HABILIDADES ========== */

.sectionHabilidades {
    background-color: var(--cor5);
    max-width: 100%;
    border: none;
    margin: 30px auto;
    padding: 3% 8%;
}

.sectionHabilidades h2 {
    padding-bottom: 15px;
    color: var(--cor8);
    text-align: center;
}




/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#minhasHabilidades-geral {
    display: block;
}
#minhasHabilidades-geral h2 {
    padding-bottom: 15px;
    color: var(--cor1);
    text-align: center;
}

article#minhasHabilidades-geral #cardsHabilidade-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 35px;
}

.skill-card {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 75px;
    background-color: var(--cor8);
    padding: 40px 20px;
    width: 570px;
    height: 270px;
    border-radius: 20px;
}

.skill-card > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

article#minhasHabilidades-geral .habilidades {
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* ========== SECTION 3 - FERRAMENTAS ========== */

.sectionFerramentas {
    background-color: var(--cor6);
    max-width: 100%;
    border: none;
    margin: 30px auto;
    padding: 3% 8%;
}

.sectionFerramentas h2 {
    padding-bottom: 15px;
    color: var(--cor8);
    text-align: center;
}

/* ~~~~~~~~~ [SECTION CONTEÚDO] ~~~~~~~~~ */

article#ferramentas-geral {
    display: block;
}
#ferramentas-geral h2 {
    padding-bottom: 15px;
    color: var(--cor1);
    text-align: center;
}

article#ferramentas-geral #cardsFerramentas-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 35px;
}

.ferramenta-card {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 75px;
    background-color: var(--cor8);
    padding: 40px 20px;
    width: 570px;
    height: 270px;
    border-radius: 20px;
}

.ferramenta-card > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

article#cardsFerramentas-geral .ferramenta-img {
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION 3 - MINHAS REDES SOCIAIS */
/* CONTEÚDO */

article#minhas-redes-sociais {
    display: block;
}

article#minhas-redes-sociais #redes-sociais-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 35px;
}
.redes-sociais-cards {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 75px;
    background-color: var(--cor1);
    padding: 40px 20px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.redes-sociais-cards > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

article#minhas-redes-sociais .redes-sociais-icons {
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.redes-sociais-link {
    color: var(--cor3);
    text-decoration: none;
    transition: transform 0.3s ease;
    
}

.redes-sociais-link:hover {
    color: var(--cor4);
    transform: scale(1.01);
}









/* PÁGINA 2 - MINHA HISTÓRIA? */
/* SECTION - MINHA HISTÓRIA */

.minhas-informacoes {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px auto;
    gap: 10px;
    background-color: var(--cor1);
    padding: 40px 20px;
    width: 1200px;
    height: 60px;
    border-radius: 20px;
}

.history-cards > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

.section-tipo-2 .icon-historia {
  height: 30px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}










/* PÁGINA 3 - MEUS PROJETOS */
/* SECTION - MINHA HISTÓRIA */

.section-tipo-1 #projetos-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 35px;
}

.projetos-cards {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 75px;
}

article#article-meus-projetos h2 {
    text-align: center;
}

.projetos-cards > p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

.section-tipo-1 .projetos-thumbs {
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 3px #52522657;

}











/* RODAPÉ */

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 10px 0px;
    margin-top: 20px;
}

footer p {
    text-align: center;
}
